/* .dropdown{
    position: relative;
    display: inline-block;
    background-color: gray;
    min-width: 140px;
}
.dropdown-content
{
    display: none;
    position: absolute;
    background-color: lightgray;
    min-width: 140px;
}
.dropdown:hover .dropdown-content {
    display: block;
} */
#beatnikInput{
    
    box-sizing: border-box;
    /*resize: none;*/

    border-style: inset;
    border-width: thick;
    border-radius: 2px;
    outline-width: 0px;
}
#pietCanvas{

    box-sizing: border-box;

    border-style: inset;
    border-width: thick;
    border-radius: 2px;
    outline-width: 0px;
}
textarea{
    /*resize: none;*/
    width: 100%;
    height:100%;
}
.horizontal-flex-container{
    display: flex;
    flex-direction: row;
}
.vertical-flex-item{
    display: flex;
    flex-direction: column;
}

.flex-item{
    flex: 1;
}
.label{
    padding: 3px;
    background-color: lightgray;
}